@media screen and (max-width: 576px) {
    header{
        padding: 20px 30px;

    }
    .logo{
        font-size: 25px;
        margin-bottom: 20px;
    }
    nav> ul{
        margin-bottom: 20px;
    }
    
    nav{
        flex-direction: column;
    }
    .banner-title{
        font-size: 25px;
    }

    .team-container{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: 1fr;
    
    }

    .team-content{
        padding: 0 50px 0 75px;
    }

    /* fact responsive for smaller device */
    .facts{
        max-width: 80%;
        margin: auto;
    }
    .fact-description{
        width: 90%;
    }
    .fact-card-container{
        grid-template-columns: 1fr;
    }
    .fact-card-container .card{
        margin-bottom: 5%;

    }

    .sponsors-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .sponsors-img img{
        margin-bottom: 10px;
    }




}

@media screen and (min-width: 577px) and (max-width: 996px) {
    header {
    background-color: antiquewhite;
    padding: 40px 150px;
}
nav{
    flex-direction: column;
}

.team-container{
    flex-direction: column;
    padding: 0 100px;
}

/* fact for medium */
.facts{
    margin: 5% 10%;
}
.fact-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5%;
    
}
.fact-card-container .card{
    margin-bottom: 5%;
}
.sponsors-img {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.sponsors-img > img{
    padding: 20px 30px;
}

}
