*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}
.btn-primary{
    font-size: 18xpx;
    padding: 15px 20px;
    color: aliceblue;
    background-color: orange;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

header{
    background-color: antiquewhite;
    padding: 40px 140px;

}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

nav> ul{
    display: flex;

}
nav> ul> li{
    list-style: none;
    margin-right: 20px;
}
nav> ul> li> a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1 rem;

}

.banner-content{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 600;
    font-size: 50px;
    
}
.banner-description{
    margin: 20px 0;
}
.banner img{
    width: 100%;
}
/*Main section style */
main{
    max-width: 1100px;
    margin: 0 auto;
}
.team-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;

}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.team-title{
    font-size: 2rem;
    line-height: 3rem;
    /* font-weight: 500; */
    
}
.quick-list{
    color: gray;
    font-weight:500;

}
.of-Our{
    color: black;
    font-weight: 800;
}
.text-features {
    color: orange;
    font-weight: 800;
}
.team-description{
    color: gray;
    margin: 10px;
}
/* Fact style */
.facts{
        /* max-width: 90%;
        margin: 3% auto; */
}
.section-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2%;
}
.fact-description , .section-desc{
    font-size: 1.25rem;
    margin-bottom: 5%;
}


.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
}
.fact-card-container .card{

    border: 1.5px solid orange;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    margin-right: 20px;

}
.fact-card-container .card-stats{

    font-size: 2.8rem;
    color: #424242;
    margin: 20px;
}
.fact-card-container .card-title{
    font-weight: 800;
    color: rgb(36, 27, 27);
    font-size: 1rem;

}

.sponsors{
    text-align: center;
    padding: 50px 0;

}
.sponsors-img{
    display: flex;
    justify-content: space-between;

}

