*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}
.btn-primary{
    font-size: 18xpx;
    padding: 15px 20px;
    color: aliceblue;
    background-color: orange;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

header{
    background-color: antiquewhite;
    padding: 40px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

nav> ul{
    display: flex;

}
nav> ul> li{
    list-style: none;
    margin-right: 20px;
}
nav> ul> li> a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1 rem;

}

.banner-content{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 600;
    font-size: 50px;
    
}
.banner-description{
    margin: 20px 0;
}
.banner img{
    width: 100%;
}